@page "/TicTac4x4"

<MudContainer>
    <div style="display: flex; justify-content: center; margin-top: 100px">
        <MudPaper
            Style="@($"background:{theme.Palette.Primary};")"
            Height="50vh" Width="50vh"
            Class="d-flex pa-2 justify-center align-center">
            <MudGrid Justify="Justify.SpaceBetween" style="display: flex; height: 100%; width: 100%;">
                @foreach (TicTacSquare square in game.getListRef()) {
                    <MudItem Class="d-flex justify-center align-center">
                        <MudPaper Height="9.5vh" Width="9.5vh" @onclick="@(e => userFlip(square.getIndex()))"
                            Class="d-flex align-center justify-center">
                            <MudText Typo="Typo.h1">@square.getFace()</MudText>
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
        </MudPaper>
    </div>
</MudContainer>

@code {
    private TicTacGame game = new TicTacGame(4, 400);

    // Theme
    private MudTheme theme = Theme.getTheme();

    private void userFlip(int squareIndex) {
        // flip square specified by user
        game.flipX(squareIndex);

        // if no more squares to flip, return
        if (game.getNumUnflipped() == 0)
            return;
        
        // use minimax to find next best move for o
        int nextAdversarySquare = TicTacMinimax.getNextMoveO(game);
        Console.WriteLine(nextAdversarySquare);

        // flip o
        game.flipO(nextAdversarySquare);

        // test
        /*TicTacState testState = new TicTacState("x", "o", "",
                                                "x", "", "",
                                                "", "", "");
        Console.WriteLine("next move: " + TicTacMinimax.getNextMoveO(testState));
        //Console.WriteLine("value=" + testState.getValue());*/

        // test
        /*TicTacState testState = new TicTacState("o", "x", "o", "",
                                                  "o", "x", "", "x",
                                                  "", "x", "", "o",
                                                  "", "", "", "");
        Console.WriteLine("next move: " + TicTacMinimax.getNextMoveO(testState));*/
    }
}